<%- include('./partials/head') %>

<article class="wrapper">
    <div class="img-area">
        <div class="inner-area">
            <img src="<%= member.avatar %>" alt="Profile picture Amber" />
        </div>
    </div>

    <h1 class="name"><%= member.name %> <%= member.surname %></h1>
    <h2 class="sub-title">Student Web Developer</h2>

    <main class="about">
        <p class="about-me"><%= member.bio.html %></p>
    </main>

    <footer class="social-icons">
        <a href="https://www.instagram.com/ambervdr_/" class="insta"><i class="fab fa-instagram"></i></a>
        <a href="<%= member.gitHubHandle%>" class="github"><i class="fab fa-github"></i></a>
        <a href="mailto:ambervdr@hotmail.com" class="email"><i class="fa-regular fa-envelope"></i></a>
        <a href="https://www.linkedin.com/in/amber-van-der-reijden-465761251/" class="linked-in"><i class="fa-brands fa-linkedin-in"></i></a>
    </footer>
</article>

<%- include('./partials/foot') %>
